<h1>Received Message</h1>
<p style="margin-left: 40px;">If someone send you a message with the same tag, you will see it here.
<ul class="microposts">
	<%= render partial: 'mail', collection: @mails %>
</ul>