<footer class="footer">
	<small>
		Created by
		<a href="http://www.renren.com/274123839/profile">土豪</a>
	</small>
	<nav>
		<ul>
			<li><%= link_to "About 一pie即合",   about_path %></li>
		</ul>
	</nav>
</footer>